spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  vault:
    url: "${VAULT_URL}
    port: ${VAULT_PORT}
    token: ${VAULT_TOKEN}

logging:
  level:
    org.springframework: DEBUG
