spring:
  threads:
    virtual:
      enabled: true
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  vault:
    url:  ${VAULT_HOST}
    port: ${VAULT_PORT}
    token: ${VAULT_TOKEN}

logging:
  level:
    org.springframework: INFO
